[submodule "external/FastNoise2"]
	path = external/FastNoise2
	url = https://github.com/Auburn/FastNoise2.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/task-thread-pool"]
	path = external/task-thread-pool
	url = https://github.com/alugowski/task-thread-pool.git
[submodule "external/poolSTL"]
	path = external/poolSTL
	url = https://github.com/alugowski/poolSTL
