[submodule "external/FastNoise2"]
	path = external/FastNoise2
	url = https://github.com/Auburn/FastNoise2.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/task-thread-pool"]
	path = external/task-thread-pool
	url = https://github.com/alugowski/task-thread-pool.git
[submodule "external/poolSTL"]
	path = external/poolSTL
	url = https://github.com/alugowski/poolSTL.git
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb.git
[submodule "external/openal-soft"]
	path = external/openal-soft
	url = https://github.com/kcat/openal-soft.git
[submodule "external/alure"]
	path = external/alure
	url = https://github.com/kcat/alure.git
[submodule "external/libmorton"]
	path = external/libmorton
	url = https://github.com/Forceflow/libmorton.git
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
[submodule "external/lygia"]
	path = external/lygia
	url = https://github.com/patriciogonzalezvivo/lygia.git
