name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    name: build (${{ matrix.os }}, ${{ matrix.compiler }})
    runs-on: ${{ matrix.os }}
    timeout-minutes: 60

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        compiler: [gcc, clang, cl]
        include:
          - os: ubuntu-latest
            compiler: gcc
            c_compiler: gcc
            cpp_compiler: g++
          - os: ubuntu-latest
            compiler: clang
            c_compiler: clang
            cpp_compiler: clang++
          - os: windows-latest
            compiler: cl
            c_compiler: cl
            cpp_compiler: cl
        exclude:
          - os: windows-latest
            compiler: gcc
          - os: windows-latest
            compiler: clang
          - os: ubuntu-latest
            compiler: cl

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Install Dependencies (Ubuntu)
      if: runner.os == 'Linux'
      run: |
        sudo apt-get update
        sudo apt-get install -y libgl1-mesa-dev libglfw3-dev libglew-dev libglm-dev libassimp-dev libgtest-dev zlib1g-dev libgl-dev libglx-dev libopengl-dev xvfb imagemagick

    - name: Install Dependencies (Windows)
      if: runner.os == 'Windows'
      run: |
        vcpkg install glew:x64-windows glfw3:x64-windows glm:x64-windows assimp:x64-windows gtest:x64-windows zlib:x64-windows

    - name: Set reusable strings
      id: strings
      shell: bash
      run: |
        echo "build-output-dir=${{ github.workspace }}/build" >> "$GITHUB_OUTPUT"

    - name: Configure CMake
      shell: bash
      run: |
        CMAKE_ARGS=(
          -B "${{ steps.strings.outputs.build-output-dir }}"
          -DCMAKE_CXX_COMPILER=${{ matrix.cpp_compiler }}
          -DCMAKE_C_COMPILER=${{ matrix.c_compiler }}
          -DCMAKE_BUILD_TYPE=Release
          -S "${{ github.workspace }}"
        )
        if [[ "${{ runner.os }}" == "Windows" ]]; then
          VCPKG_TOOLCHAIN="${VCPKG_INSTALLATION_ROOT//\\//}/scripts/buildsystems/vcpkg.cmake"
          CMAKE_ARGS+=("-DCMAKE_TOOLCHAIN_FILE=$VCPKG_TOOLCHAIN")
        fi
        cmake "${CMAKE_ARGS[@]}"

    - name: Build
      run: cmake --build "${{ steps.strings.outputs.build-output-dir }}" --config Release --parallel 2

    - name: Test
      working-directory: "${{ steps.strings.outputs.build-output-dir }}"
      shell: bash
      run: |
        if [[ "${{ runner.os }}" == "Linux" ]]; then
          xvfb-run ctest --build-config Release
        else
          ctest --build-config Release
        fi
